/* ...? padding 및 margin, border 의 width 까지 계산해서 넣어야하는...? 건가...? */
.game {
    display: flex;
    flex-direction: row;
}

ol, ul {
    padding-left: 30px;
}

.status {
    margin-left: 15px;
    margin-bottom: 10px;
}

.game-info {
    margin-left: 20px;
}